<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "Dodaj przepis", new_recipe_path, class: 'btn btn-default' %>
    <%= link_to "Zaloguj się", root_path, class: 'btn btn-default' %>
    <%= link_to "Zarejestruj się", root_path, class: 'btn btn-default' %>
  </div>
</nav>